html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    line-height: 1.7rem;
    background: url(assets/bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.quiz-container {
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px white;
    text-shadow: 0 1px #00000010;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    height: 80%;
    width: 80%;
    position: relative;
}
.title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #fff;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}
.question {
    margin: 2rem 0;
    font-size: 40px;
    color: #fff;
    line-height: 3.5rem;
    text-align: center;
}
.options {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.option {
    padding: 2rem;
    color: #fff;
    font-size: 40px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid #fff;
    border-radius: 45px;
    background: #000;
}
.option:hover {
    background: rgba(255, 255, 255, 0.4);
}
.option input:checked .option {
    background: #08038c;
    color: #fff;
}
.option input {
    display: none;
}
.option span {
    line-height: 3.5rem;
}
.controls {
    width: inherit;
}
.controls > * {
    margin: 1rem;
}
button {
    padding: 1.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 50px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
    width: -webkit-fill-available;
}
button.previous {
    background: #660000;
}
button.next {
    background: #295c06;
}
button.restart {
    background: #0cf574;
    color: #00000050;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
}
button.restart:hover {
    color: #00000098;
}
button:hover,
button:focus {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    min-height: 100vh;
}
.final-score {
    color: #00000099;
}
.summary {
    font-size: 1rem;
    text-shadow: 1px 1px #ffffff50;
    color: #00000099;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.summary h1 {
    align-self: center;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.rune1 {
    position: absolute;
    width: 150px;
    left: 40px;
    top: 20px;
    transform: rotate(-45deg);
}

  